export(DFA,CANCOR)

importFrom("stats", "aggregate", "anova", "bartlett.test","complete.cases",
           "cor","cor.test", "cov", "fligner.test", "lm", "na.omit", "pf",
           "predict", "sd", "t.test", "pt", "qf", "qt", "qtukey")

importFrom("car", "Anova")

importFrom("CCA", "cc")

importFrom("CCP", "p.asym")

importFrom("irr", "kappa2", "kappam.fleiss", "kappam.light")

importFrom("MASS", "lda")

importFrom("MVN", "mvn")

importFrom("yacca", "cca", "helio.plot")

importFrom("graphics", "matplot", "axis", "legend", "title")

importFrom("utils", "capture.output")